{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
         <div class="card">
    <div class="card-body">
        <h1 class="card-title">Admin Login</h1>
        <h5 class="card-subtitle mb-2 text-muted">Login To View Reports</h5>


        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label>{{form.username.label}}</label>
                {{form.username(size=32,class='form-control')}}
                {% for error in form.username.errors %}
                <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            </div>


            <div class="form-group">
                <label>{{form.password.label}}</label>
                {{form.password(size=32,class='form-control')}}
                 {% for error in form.password.errors %}
                <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            </div>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class="btn btn-success") }}</p>


        </form>
    </div>
</div>
    </div>
    <div class="col-sm"></div>
 </div>

{% endblock %}